<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://smartpravo.com/front_user/images/favicon.svg" type="image/png">
	<link rel="stylesheet" href="./index_files/style.css">
	<link rel="stylesheet" href="./index_files/style_2.css">
	<link rel="stylesheet" href="./index_files/animate.min.css">
	<link rel="stylesheet" href="./index_files/magnific-popup.css">
	<link rel="stylesheet" href="./index_files/slick.css">
	<link rel="stylesheet" href="./index_files/slick-theme.css">
	<link rel="stylesheet" href="./index_files/jquery-ui.css">
	<script src="./index_files/jquery.min.js"></script>
	<link rel="stylesheet" href="./index_files/daterangepicker.css">
	<link rel="stylesheet" href="./css/style.css">
	<style>
		@media (min-width: 1600px) {
		    .containerS {
                padding-left: 0;
                padding-right: 0;
		    }
		}
	</style>

</head>